<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
    <key>signingCertificate</key>
    <string>Apple Development: Danniel Yu (Q92R69K3XH)</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.lyrastudio.NeoPod</key>
        <string>iOS Team Provisioning Profile: *</string>
    </dict>
    <key>signingStyle</key>
    <string>automatic</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>teamID</key>
    <string>Q92R69K3XH</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <false/>
</dict>
</plist>
